@font-face{
    font-family: minha fonte;
    src: url(/fontes/idroid.otf);
}

header{
    text-align: center;
    background-image: linear-gradient(rgb(0, 108, 7), rgb(0, 79, 5), rgb(0, 46, 3));
    margin: 0;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.473);
}

header h1{
    font-family: minha fonte;
    font-size: 45px;
    color: white;
    padding: 20px;
    margin: 0;
}

header p{
    margin: 30px;
    color: white;
    font-size: 20px;
}

header a{
    color:  rgb(112, 204, 112);
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
header a:hover{
    background-color: rgb(112, 204, 112);
    color: rgb(0, 108, 7);
}
header nav{
    text-align: left;
}

body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}
main{
    background-color: white;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.644);    
}
main h1{
    margin: 0px;
    color: rgb(6, 58, 9);
}
main h2{
    background-image: linear-gradient(to right, rgb(0, 108, 7), white);
    text-align: left;
    margin-left: 16px;
}
main span{
    color: rgb(0, 79, 5);
    font-weight: bold;
}
main p{
    text-align: left;
    margin-left: 16px;
    text-indent: 25px;
}

main a{
    color: black;
    background-color: rgb(112, 204, 112);
    text-decoration: none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
}
.aprendermais{
    background-color: rgb(112, 204, 112);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.aprendermais h1{
    text-align: left;
    background-color: rgb(0, 108, 7);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;
    text-indent: 25px;
    color: white;
}
.aprendermais ul{
    display: inline-block;
    padding-left: 0;
    width: 560px;
}
.aprendermais li{
    list-style-type: none;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.aprendermais li::before{
    content: '✔';
}
main a::after{
    content: '⛧';
}