@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #034159, #025951);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.575);
    width:  600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #038C3E;
    text-align: center;
    text-shadow: 1px 1px 2px #01421d63;
}
h2{
    color: #038C3E;
}